* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
/* start header  */
header {
  display: flex;
  justify-content: space-between;
  padding: 7% 3%;
  background: #041b15;
}
.logo {
  font-size: 3rem;
  color: #84cae7;
}
.icon-nav {
  color: #84cae7;
  position: relative;
  margin-right: 8%;
  font-size: 3rem;
}

.nav-items-moblie {
  display: none;
}
.nav-items-moblie li {
  background-color: #041b15;
  text-align: center;
  border-bottom: 1px solid wheat;
  padding: 8%;
  width: 74vw;
  display: block;
}
.nav-items-moblie a {
  text-decoration: none;
  color: #84cae7;
}

.icon-nav:hover .nav-items-moblie {
  display: block;
  position: absolute;
  right: -35px;
  top: 84px;
}
/* end the header  */
/* start figure  */
figure {
  background-color: #fffcf2;
}
figure h1 {
  color: #136f63;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 24%;
  padding-bottom: 20%;
}
figure img {
  width: 83vw;
  display: block;
  margin: auto;
  padding-bottom: 20%;
}
/* end the figure  */
/* start main  */
main {
  /* margin-top: 200px; */
}
.about-me {
  background-color: #136f63;
  background-image: url(../img/about.png), url(../img/about.png);
  background-size: 22%;
  transform: rotate(-0deg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.about-me div {
  width: 100%;

  margin-top: 200px;
  margin: auto;
  text-align: center;
  max-width: 800px;
}
.about-me div h3 {
  padding: 50px 0 30px 0;
  font-size: 40px;
  color: #4ce0d2;
  position: relative;
}
.about-me div h3 span {
  font-size: 20px;
}
.about-me div h3::before {
  position: absolute;
  content: '';
  width: 170px;
  height: 7px;
  border-radius: 2px 12px 2px 12px;
  bottom: 20px;
  right: 116px;
  background-color: #4ce0d2;
}
.about-me div p {
  margin-top: 30px;
  padding-bottom: 80px;
  font-size: 30px;
  color: aliceblue;
}
.about-me div p span {
  color: #4ce0d2;
  font-size: 35px;
}
/* end about me section  */
/* start skills section  */

.my-skills {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fffcf2;
  background-image: url(../img/skill.png), url(../img/skill1.png);
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  background-size: 22%;
}
.title-skills {
  position: relative;
  padding: 50px 0 30px 0;
  font-size: 40px;
  color: #eb5e28;
  text-align: center;
  position: relative;
}
.title-skills::before {
  position: absolute;
  content: '';
  width: 170px;
  height: 7px;
  border-radius: 2px 12px 2px 12px;
  bottom: 20px;
  right: 116px;
  background-color: #eb5e28;
}
.skill {
  border-radius: 20px;

  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background: rgb(161, 14, 14);
}

.skill .my-skill h2 {
  color: orange;
  padding-bottom: 20px;
}

.skill .sketch .html,
.css,
.js {
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
  padding: 15px;
  width: 350px;
}

.html-inside-sketch {
  position: absolute;
  content: '';
  background-color: rgb(201, 194, 194);
  height: 100%;
  width: 85%;
  top: 0px;
  right: 0px;
  border: 8px solid white;
  z-index: 5;
  box-sizing: border-box;
}

.skill .sketch .html-inside-sketch::after {
  position: absolute;
  border-radius: 0px 20px 20px 0;
  content: '';
  background-color: rgb(216, 163, 86);
  width: 90%;
  height: 100%;
  transition: 5s ease;
}

.css-inside-sketch {
  position: absolute;
  content: '';
  background-color: rgb(201, 194, 194);
  height: 100%;
  width: 85%;
  top: 0px;
  right: 0px;
  border: 8px solid white;
  z-index: 5;
  box-sizing: border-box;
}

.skill .sketch .css-inside-sketch::after {
  position: absolute;
  content: '';
  border-radius: 0px 20px 20px 0;

  background-color: rgb(216, 163, 86);
  width: 80%;
  height: 100%;
}

.js-inside-sketch {
  position: absolute;
  content: '';
  background-color: rgb(201, 194, 194);
  height: 100%;
  width: 85%;
  top: 0px;
  right: 0px;
  border: 8px solid white;
  z-index: 5;
  box-sizing: border-box;
}

.skill .sketch .js-inside-sketch::after {
  position: absolute;
  content: '';
  border-radius: 0px 20px 20px 0;

  background-color: rgb(216, 163, 86);
  width: 50%;
  height: 100%;
}
.my-skills .skill h3 {
  font-weight: 700;
  font-size: 20px;
}
/* end skills  */
.my-project {
  padding-top: 80px;
  background-color: #fffcf2;
  padding-bottom: 0;
}
.my-project h2 {
  font-size: 40px;
  color: #eb5e28;
  position: relative;
  text-align: center;
}
.my-project h2::before {
  position: absolute;
  content: '';
  width: 170px;
  height: 7px;
  border-radius: 2px 12px 2px 12px;
  bottom: -14px;
  right: 118px;
  background-color: #eb5e28;
}
section .cards {
  padding: 0 30px;
  /* display: flex; */
}
section .cards .card {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 90%;
  height: 300px;
  text-align: center;
  margin-bottom: 50px;
}

section .cards .card::after {
  position: absolute;
  content: '';
  width: 100%;
  transition: 1s ease;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(21, 22, 22, 0.267);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;

  /* opacity: 50%; */
  z-index: 1;
}
section .cards .card:hover:after {
  position: absolute;
  content: '';
  width: 100%;

  height: 0%;
  left: 0;
  background-color: gold;
  opacity: 0;
}

section .cards .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

section .cards .card img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.card h3 {
  padding-bottom: 20px;
  font-weight: 900;
  color: #b84e25;
}
.card button a {
  text-decoration: none;
  color: #f5da40;
}
.c-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
/* end project section  */
/* start contact section  */
.contact-Me {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #ccc5b9;
}
.contact-Me h3 {
  padding: 30px 0 30px 0;
  font-size: 40px;
  color: #eb5e28;
  position: relative;
  text-align: center;
}
.contact-Me h3::before {
  position: absolute;
  content: '';
  width: 170px;
  height: 7px;
  border-radius: 2px 12px 2px 12px;
  bottom: 20px;
  right: 590px;
  background-color: #eb5e28;
}
form {
  position: relative;
  z-index: 1;
}
label,
input,
textarea {
  display: block;
  padding-left: 15px;
  margin: auto;
}

label {
  font-size: 25px;
  padding-bottom: 5px;
  text-align: center;
}
input,
textarea {
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: #ededed;
  outline: none;
  background-color: #fffcf2;
  height: 50px;
  width: 300px;
  border-radius: 8px;
}
textarea {
  height: 200px;
}
.contact-Me button {
  display: block;
  margin: auto;
}
/* end the contact section  */
/* start the footer  */
footer {
  background-color: #403d39;
}
footer p {
  padding: 20px 0;
  text-align: center;
  color: white;
}
/* end the footer  */
.top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10;
}
.top img {
  width: 70px;
}
