* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
/* start header  */
header {
  display: flex;
  justify-content: space-between;
  padding: 7% 3%;
  background: #041b15;
}
.logo {
  font-size: 3rem;
  color: #84cae7;
}
.icon-nav {
  color: #84cae7;
  position: relative;
  margin-right: 8%;
  font-size: 3rem;
}

.nav-items-moblie {
  display: none;
}
.nav-items-moblie li {
  background-color: #041b15;
  text-align: center;
  border-bottom: 1px solid wheat;
  padding: 8%;
  width: 74vw;
  display: block;
}
.nav-items-moblie a {
  text-decoration: none;
  color: #84cae7;
}

.icon-nav:hover .nav-items-moblie {
  display: block;
  position: absolute;
  right: -35px;
  top: 84px;
}
/* end the header  */
/* start figure  */
figure h1 {
  color: #136f63;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 24%;
  padding-bottom: 20%;
}
figure img {
  width: 83vw;
  display: block;
  margin: auto;
}
